{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% block meta %}{% endblock meta %}
      <title>
        {% block title %}My Site{% endblock %}
      </title>
    <link rel="stylesheet" href="{%  static 'myshop/css/base.css' %}" />
    {% block css %}{% endblock css %}
    <script defer src="{% static 'myshop/js/alpine.min.js' %}"></script>
  </head>
  <body>
  <header>
      {% block header %}
          {% include 'header.html' %}
      {% endblock header %}
  </header>
  <main>
      {%  block main %}
          <div class="content">
            {% block content %}{% endblock %}
          </div>
      {% endblock main %}
  </main>
  <footer>
      {% block footer %}
             {% include 'footer.html' %}
      {% endblock footer %}
  </footer>
   {% block js %}{% endblock js %}
  </body>
</html>
