{% extends "base.html" %}
{% load static %}
{% block css %}
<style>
.flex {
    display:flex;
}
.flex-flow {
    flex-flow:column;
}
.flex-x-center {
    justify-content: center;
}
.flex-y-center {
    align-items: center;
}
.flex-item {
    flex:1;
}
</style>
{% endblock css %}
{% block content %}
    <div class="flex flex-flow  flex-x-center flex-y-center ">
        <div>{{ product.name }}</div>
{#        <div>{{ product.skus }}</div>#}
        <div>{{ product.price }}</div>
        <div>
            {% for product_image in  product.images.all %}
             <img alt="{{ product_image.image }}" src="{{ product_image.image.url }}" />
            {% endfor %}
        </div>
        <form  x-data="addCartForm()">
          <div>
            {% for sku in product.skus.all %}
              <div>
                <label>
                    <input :checked="formData.sku_id === '{{ sku.pk }}'" @change="checkboxChange('{{ sku.pk }}')" type="checkbox" value="{{ sku.pk }}" /> {{ sku.sku_name }}
                </label>
              </div>
            {% endfor %}
        </div>
        <div>
            <label>数量 <input x-model="formData.quantity" /></label>
        </div>
        <div>
            <button type="button" @click="addCart">加入购物车</button>
            <button type="button">立即购买</button></div>
        </form>
    </div>

{% endblock content %}
{% block js %}
    <script>
    function addCartForm() {
        return {
            formData: {
                sku_id: '',
                quantity: ''
            },
            checkboxChange(sku_id) {
                this.formData.sku_id = this.formData.sku_id === sku_id? '': sku_id
                {#console.log(this.formData.sku_id)#}
            },
            addCart() {
                console.log(this.formData)
                console.log('提交数据')
            }
        }

    }
    </script>

{% endblock js %}